<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="minimumTimeForAsyncTask" value="1000"/>
    <add key="maximumTimeForAsyncTask" value="2000"/>
    <add key="carsRequested" value="2"/>
  </appSettings>
</configuration>
